@model Car_Rental_System.ViewModel.CategoryViewModel
@{
    ViewData["Title"] = "Category Page";
}
<div style="height:820px">
    <div class="bg-image rounded">
        <div class="d-flex justify-content-between mx-5">
            <p class="fs-2 fw-bold text-white d-flex align-items-center my-auto">Category</p>
            <button class="btn btn-warning my-auto  fs-5 fw-bold " id="addCategoryButton"><i class="fa fa-plus"></i> | Add Category</button>

        </div>
    </div>
    <div class="back-color p-5" style="height:792px;">
        <div class="overflow-auto" style="height:700px">

            <table class="table" id="categoryTable">
                <thead class="navbar-sticky">
                    <tr class="justify-content-center">
                        <th class="text-center">
                            Category Type<i class="fa fa-sort mx-3 sortIcon asc" aria-hidden="true"></i>
                        </th>
                        <th class="text-center">Actions</th>
                    </tr>
                </thead>

                <tbody>
                    @for(int i=0; i<Model.AllCategories.Count;i++)
                    {   
                        <tr>
                            <td class="text-center">@Model.AllCategories[i].CategoryType </td>
                            <td class="d-flex justify-content-center">
                                <button data-category-id="@Model.AllCategories[i].CategoryId" class="btn btn-primary edit-category" style="margin-right: 20px">Edit</button>
                                <button data-category-id="@Model.AllCategories[i].CategoryId" class="btn btn-danger delete-category">Delete</button>
                            </td>
                        </tr>
                    }
                    
                </tbody>
            </table>
        </div>
    </div> 

</div>

<!-- Delete Modal -->
<div class="modal fade" id="deleteConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="deleteConfirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteConfirmationModalLabel">Confirm Deletion</h5>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this Category?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="cancelDeleteButton">Cancel</button>
                <button type="button" class="btn btn-danger" id="confirmDeleteButton">Delete</button>
            </div>
        </div>
    </div>
</div>

<!-- Create Modal -->
<div class="modal fade  bd-example-modal-lg" id="addCategory" tabindex="-1" role="dialog" aria-labelledby="addCategoryModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header justify-content-center bg-image fs-5 fw-bolder">
                <h5 class="modal-title" id="addCategoryModalLabel align-text-center ">Add Category</h5>

            </div>
            <div class="modal-body">
                <div class="back-color">
                    <form class="p-5" >
                        <div class="form-group mb-3">
                            <label asp-for="@Model.CategoryItem.CategoryType" class="mb-3 fs-5 fw-bolder"></label>
                            <input class="form-control mb-2" id="categoryType" oninput="validateCategory(this)" />
                            <span class="text-danger fs-6 fw-bolder" id="categoryTypeError"></span>

                        </div>
                        <button type="button" class="btn btn-primary" id="confirmInsertButton">Add </button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" id="cancelInsertButton">Cancel</button>              
                        <button type="button" class="btn btn-primary" id="confirmEditButton">Save Changes</button>

                    </form>
                </div>
            </div>

        </div>
    </div>
</div>

@section styles {
    <link rel="stylesheet" href="@Url.Content("~/css/Settings.css")" asp-append-version="true" type="text/css" />
    <link href="~/css/settings.css" rel="stylesheet" />
}
@section scripts {
    <script src="~/js/category.js"></script>
}